body {
    background-color: black;
    margin: 0;
    background: url("./Image/pexels-ahmed-aqtai-2233416.jpg") no-repeat center;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    overflow: hidden;
}

h3.logo {
    color: #fff;
    margin: 10px 0 0 5px;
    font-size: 20px;
}

.star {
    color: red;
}

#time {
    padding: 3px 13px;
    color: #fff;
    background: linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);
    border-radius: 12px 2px 12px 2px;
}

::selection {
    background-color: red;
    color: #fff;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head {
    color: white;
    background-color: #000;
    border-radius: 2px 12px 2px 12px;
    padding: 10px;
}

@media screen and (max-width:578px) {
    .container {
        width: 80%;
        margin: 0 0 0 7%;
        text-align: center;
    }

    #time {
        font-size: 24px;
    }
}